<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    b {font-size: 18px;}
    span:hover {
        transition-delay: .2s;
        transition-property: background-color;
        background-color: rgba(0, 255, 0, 0.5);
    }
    span.active {
        background-color: rgba(0, 255, 0, 0.5);
    }

    #wrap {
        margin-left: 50px;
        margin-top: 30px;
    }
    #container {width: 800px;}
</style>
<body>
    <div id="wrap">
        <h2>{{ title }}</h2>
        <div id="container"></div>
    </div>
    <script>
        async function getDetails(){
            let detailData;
            let urlArray = window.location.href.split("/");
            let lastPara = urlArray[urlArray.length - 1];
            await fetch(`/api/details?id=${lastPara}`)
            .then(response => response.json())
            .then(data => {
                detailData = data;
            });

            let container = document.getElementById("container");
            let newB = document.createElement("b");
            setInnerSpan(detailData['subtitle'], "/", newB);
            container.appendChild(newB);

            let newDate = document.createElement("p");
            setInnerSpan(detailData['date'], "/", newDate);
            container.appendChild(newDate);

            let pgSplit = detailData['content'].split(/\r?\n/);
            for (let i = 0; i < pgSplit.length; i++){
                let newP = document.createElement("p");
                setInnerSpan(pgSplit[i], "/", newP);
                container.appendChild(newP);
            }
        } getDetails();

        function setInnerSpan(targetText, splitBy, parentNode){
            const regex = /[ $&+,:;=?@#|'<>.^*()%!\-，！？；：（）［］【】。「」﹁﹂"、·《》〈〉〔〕〖〗〘〙〚〛﹏…——～　_﹏A-Za-z0-9]/;
            let dataSplit = targetText.split(splitBy);
            for (let i = 0; i < dataSplit.length; i++){
                if (regex.exec(dataSplit[i]) != null || dataSplit[i] == ''){
                    let newText = document.createTextNode(dataSplit[i]);
                    parentNode.appendChild(newText);
                } else {
                    let newSpan = document.createElement("span");
                    newSpan.innerHTML = dataSplit[i];
                    parentNode.appendChild(newSpan);
                }
            }
        }

        function setSpanEvent(){
            let activeElem = null;
            document.addEventListener("click", (evt) => {
                let targetElem = evt.target;
                if (targetElem instanceof HTMLSpanElement){
                    if (activeElem !== targetElem){
                        if (activeElem !== null){
                            activeElem.classList.remove("active");
                        }
                        targetElem.classList.add("active");
                        activeElem = targetElem;
                        spanPopWindow(activeElem);
                    }
                } else if (activeElem !== null){
                    activeElem.classList.remove("active");
                    activeElem = null;
                }
            });
        } setSpanEvent();
    </script>
</body>
</html>