<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @keyframes bgcolor {
        from {
            background-color: rgba(0, 255, 0, 0.5);
        }
        to {
            background-color: rgba(0, 255, 0, 0.5);
        }
    }

    b {font-size: 18px;}
    span:hover {
        animation: bgcolor 1s infinite .2s;
    }

    #wrap {
        margin-left: 50px;
        margin-top: 30px;
    }
    #container {width: 800px;}
</style>
<body>
    <div id="wrap">
        <h2>{{ title }}</h2>
        <div id="container"></div>
    </div>
    <script>
        const regex = /[ $&+,:;=?@#|'<>.^*()%!\-，！？；：（）［］【】。「」﹁﹂"、·《》〈〉〔〕〖〗〘〙〚〛﹏…——～　_﹏A-Za-z0-9]/;
        let detailData;
        async function getDetails(){
            let urlArray = window.location.href.split("/");
            let lastPara = urlArray[urlArray.length - 1];
            await fetch(`/api/details?id=${lastPara}`)
            .then(response => response.json())
            .then(data => {
                detailData = data;
            });

            let container = document.getElementById("container");
            let newB = document.createElement("b");
            newB.innerText = detailData['subtitle'];
            container.appendChild(newB);

            let newDate = document.createElement("p");
            newDate.innerText = detailData['date'];
            container.appendChild(newDate);

            let pgSplit = detailData['content'].split(/\r?\n/);
            for (let i = 0; i < pgSplit.length; i++){
                let newP = document.createElement("p");
                let seg_list = pgSplit[i].split("/");
                for (let j = 0; j < seg_list.length; j++){
                    if (regex.exec(seg_list[j]) != null || seg_list[j] == ''){
                        newP.innerHTML += seg_list[j];
                    } else {
                        let newSpan = document.createElement("span");
                        newSpan.innerText = seg_list[j];
                        newP.appendChild(newSpan);
                    }
                }
                container.appendChild(newP);
            }
        } getDetails();
    </script>
</body>
</html>